<h1>Welcome to Secret Login</h1>

<p>Won't you Login?</p>
<%= form_tag ({controller: "sessions", action: "create", method: "post"}) do %>
  <input type="text" name="name" id="name">
  <input type="submit" name="login">
<% end %>
